@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

div.temp-container {
  display: flex;
  width: fit-content;
  background: linear-gradient(65deg, #ffffff, #b8d9f7);
  border-radius: 16px;
  padding: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
div.temp-container img {
  width: 100%;
  height: auto;
}
div.temp-container img#logo-square {
  width: 32px;
  height: 32px;
}

div.radar-container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  border-radius: 16px;
}
div.radar-container div.knmi-radar-container {
  position: relative;
  display: grid;
}
div.radar-container div.knmi-radar-container img {
  position: relative;
  display: grid;
  width: 100%;
  height: auto;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
div.radar-container div.knmi-radar-container div#red-rectangle {
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 20px;
  height: 20px;
  top: 61%;
  left: 41%;
  border-top: #1a1a1a 3px solid;
  border-left: #1a1a1a 3px solid;
  padding: 3px;
}
div.radar-container div.knmi-radar-container div#red-rectangle div#red-circle {
  width: 20px;
  height: 20px;
  border: #1a1a1a 3px solid;
  border-radius: 50%;
}
div.radar-container iframe {
  height: 700px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: none;
  outline: none;
}

div.warning-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 16px;
  background-color: #ffffff;
}
div.warning-container.hidden {
  display: none;
}
div.warning-container img {
  background-color: #ffffff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  max-height: 18vh;
  width: auto;
  align-self: center;
}
div.warning-container div.warning-details {
  height: -webkit-fill-available;
  display: grid;
  grid-template-rows: 45px auto;
  grid-template-columns: repeat(2, auto);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 5px;
  width: calc(100% - 10px);
  transition: 150ms all;
}
div.warning-container div.warning-details p#warning-title {
  font-size: 1.6vh;
  font-weight: 300;
  grid-column: 1;
  grid-row: 1;
}
div.warning-container div.warning-details p#warning-description {
  font-size: 1.2vh;
  font-weight: 800;
  grid-row: 2;
  grid-column: 1/span 2;
}
div.warning-container div.warning-details div.time-window-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
div.warning-container div.warning-details div.time-window-container p {
  font-size: 0.9vh;
  font-weight: 900;
  width: auto;
  color: #777676;
}
div.warning-container div.warning-details p#warning-from {
  grid-column: 2;
  grid-row: 1;
}
div.warning-container div.warning-details p#time {
  font-size: 1.2vh;
  font-weight: 800;
  align-content: center;
  position: absolute;
  align-self: flex-end;
  justify-self: flex-start;
}
div.warning-container div.warning-details i.fa-warning {
  padding: 10px;
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 1.5vh;
}
div.warning-container.YELLOW div.warning-details {
  background-color: #ede131;
}
div.warning-container.YELLOW div.warning-details i.fa-warning {
  background-color: #cec000;
}
div.warning-container.ORANGE div.warning-details {
  background-color: #f5b92c;
}
div.warning-container.ORANGE div.warning-details i.fa-warning {
  background-color: #de9c00;
}
div.warning-container.RED div.warning-details {
  background-color: #cf3d3d;
}
div.warning-container.RED div.warning-details i.fa-warning {
  background-color: #ad2323;
}

div.radar-item {
  position: relative;
  display: grid;
  align-content: center;
}
div.radar-item img.radar-image {
  width: 100%;
  height: auto;
}
div.radar-item img#logo-square {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  padding: 10px;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #ffffff;
}
div.radar-item img#logo-square.lighter-blue {
  background-color: #b8d9f7;
}
div.radar-item img#logo-square.top-right {
  border-top-right-radius: 16px;
}
div.radar-item img#logo-square.bottom-right {
  border-bottom-right-radius: 16px;
}
div.radar-item img#logo-square.bottom-left {
  border-bottom-left-radius: 16px;
}
div.radar-item img#logo-square.top-left {
  border-top-left-radius: 16px;
}
div.radar-item.hidden {
  display: none;
}
div.radar-item div.time-container {
  position: absolute;
  align-self: flex-start;
  justify-self: flex-start;
  border-bottom-right-radius: 16px;
  padding-right: 15px;
  padding-left: 5px;
  grid-column: 1/span 5;
}
div.radar-item div.time-container.white-bg {
  background: none;
  background-color: #ffffff;
}
div.radar-item div.time-container.hidden {
  display: none;
}
div.radar-item div.time-container p {
  color: #1a1a1a;
  margin: 0;
}
div.radar-item div.time-container p.time-heading {
  font-size: 2vh;
  font-weight: 300;
  grid-column: 1/span 5;
}
div.radar-item div.time-container p.time {
  font-size: 1.6vh;
  font-weight: 900;
}

body {
  display: grid;
  grid-template-rows: repeat(24, calc((100vh - 120px) / 24));
  grid-template-columns: repeat(30, calc((100vw - 150px) / 30));
  box-sizing: border-box;
  column-gap: 5px;
  row-gap: 5px;
  height: 100vh;
  overflow: hidden;
}
body div.radar-container {
  grid-column: 26/span 5;
  grid-row: 1/span 20;
}
body div.temp-container {
  grid-column: 1/span 5;
  grid-row: 16/span 9;
}
body div.warning-container {
  grid-column: 6/span 4;
  grid-row: 16/span 9;
}

/*# sourceMappingURL=style.css.map */
