@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: transparent;
  padding: 5px;
}

div.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 35vh auto;
  width: 95vw;
  height: 95vh;
  border-radius: 24px;
  background-color: #fffffc;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
}

div.header {
  display: grid;
  align-items: center;
  padding: 35px 0;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 15% auto;
}
div.header #location {
  grid-column: 1;
  grid-row: 1;
  justify-self: flex-end;
}
div.header #update-time {
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-start;
  margin-left: 5px;
}
div.header #temperature-actual {
  font-size: 96px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  grid-row: 2;
}
div.header .temperature-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 40% 60%;
  justify-items: center;
  grid-row: 2;
}
div.header .temperature-container i.fa-hand,
div.header .temperature-container i.fa-road {
  font-size: 28px;
}
div.header .temperature-container i.fa-hand {
  grid-column: 1;
  grid-row: 1;
}
div.header .temperature-container i.fa-road {
  grid-column: 2;
  grid-row: 1;
}
div.header .temperature-container p {
  margin: 10px 0;
}
div.header .temperature-container #temperature-feel {
  grid-column: 1;
  grid-row: 2;
}
div.header .temperature-container #temperature-ground {
  grid-column: 2;
  grid-row: 2;
}

div.data-table {
  border-collapse: collapse;
  height: -webkit-fill-available;
}
div.data-table i {
  font-size: 28px;
}
div.data-table .table-head {
  display: grid;
  grid-template-columns: repeat(3, 33.3333333333%);
  height: 50px;
  justify-items: center;
  margin-bottom: 50px;
}
div.data-table .table-head i {
  border-bottom: #d9d9d9 3px solid;
  padding-bottom: 5px;
}
div.data-table .table-head .buienradar-logo {
  border-radius: 50%;
  height: 48px;
}
div.data-table .table-body {
  display: grid;
  grid-template-columns: repeat(3, 33.3333333333%);
  grid-template-rows: repeat(2, 50%);
  height: 75%;
}
div.data-table .table-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
div.data-table .table-item:nth-child(2), div.data-table .table-item:nth-child(5) {
  border-left: #f1f1f1 2px solid;
  border-right: #f1f1f1 2px solid;
}
div.data-table .table-item p {
  font-weight: 600;
  font-size: 42px;
  margin: 10px 0 0 0;
}
div.data-table .table-item div.rainfall {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: repeat(2, 50%);
  column-gap: 15px;
  justify-items: flex-end;
}
div.data-table .table-item div.rainfall p.smallest {
  font-size: 16px;
}
div.data-table .table-item div.rainfall #rainFall1Hour,
div.data-table .table-item div.rainfall #rainFall24Hour {
  justify-self: flex-start;
  font-weight: 700;
}

div.radar-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  width: auto;
  height: 98vh;
  padding: 10px;
  border-radius: 24px;
  background-color: #fffffc;
}
div.radar-container img,
div.radar-container iframe {
  width: 100%;
  overflow: hidden;
}
div.radar-container .knmi-radar-container {
  position: relative;
  display: grid;
}
div.radar-container #knmi-radar {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}
div.radar-container #red-rectangle {
  position: absolute;
  border-top: 2.5px darkcyan solid;
  border-left: 2.5px darkcyan solid;
  align-self: center;
  justify-self: center;
  height: 5px;
  width: 5px;
  top: 65%;
  left: 44%;
  padding: 2px;
  transform: rotate(15deg);
}
div.radar-container #red-circle {
  border: 2.5px darkcyan solid;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
div.radar-container iframe {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  outline: none;
  border: none;
  height: 700px;
}
div.radar-container iframe * {
  overflow: hidden;
}
div.radar-container iframe .topdiv {
  display: none;
}

div.temp-container {
  width: 90vw;
  height: auto;
  padding: 10px;
  background: linear-gradient(65deg, white, rgb(208, 233, 255));
  border-radius: 24px;
  background-color: #fffffc;
}

div.warning-container {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
}
div.warning-container.hidden {
  display: none;
}
div.warning-container.YELLOW {
  background-color: #ede131;
}
div.warning-container.YELLOW i.fa-warning {
  background-color: #cec000;
}
div.warning-container.ORANGE {
  background-color: #f5b92c;
}
div.warning-container.ORANGE i.fa-warning {
  background-color: #de9c00;
}
div.warning-container.RED {
  background-color: #cf3d3d;
}
div.warning-container.RED i.fa-warning {
  background-color: #ad2323;
}
div.warning-container img {
  background-color: #ffffff;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
div.warning-container div.warning-details {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto;
  width: 100%;
}
div.warning-container div.warning-details i.fa-warning {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 36px;
  padding: 20px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
div.warning-container div.warning-details p#warning-title {
  font-size: 42px;
  font-weight: 700;
  margin: 10px;
}
div.warning-container div.warning-details p#warning-description {
  font-size: 36px;
  word-break: break-word;
  margin: 10px;
}

.radar-item {
  display: grid;
  position: relative;
}
.radar-item.hidden {
  display: none;
}
.radar-item .time-container {
  position: absolute;
  align-self: flex-start;
}
.radar-item .time-container.white-bg {
  background-color: white;
  border-bottom-right-radius: 16px;
}
.radar-item .time-container p {
  margin: 2px;
}
.radar-item .time-heading {
  font-size: 42px;
  padding-right: 10px;
}
.radar-item .time-heading.white {
  font-size: 42px;
  color: #ffffff;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}
.radar-item .time {
  margin: 0;
  font-size: 36px;
  color: #000000;
  margin-left: 2px;
}
.radar-item .time.white {
  font-size: 42px;
  color: #ffffff;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}
.radar-item img {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
.radar-item img[id=satelliet] {
  margin-top: 0;
}
.radar-item img[id=logo-square] {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  border-radius: 50%;
  height: 48px;
  width: auto;
  z-index: 999;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 5px;
  background-color: white;
  -webkit-box-shadow: inset 0px 0px 20px -10px rgb(0, 0, 0);
  -moz-box-shadow: inset 0px 0px 20px -10px rgb(0, 0, 0);
  box-shadow: inset 0px 0px 20px -10px rgb(0, 0, 0);
}

/*# sourceMappingURL=style.css.map */
