@use "./../../core.scss" as *;

div.temp-container {
    display: flex;
    width: fit-content;

    background: linear-gradient(65deg, map-get($colors, blanc), map-get($colors, lighter-blue));

    border-radius: 16px;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    img {
        width: 100%;
        height: auto;
    }

    img#logo-square {
        width: 32px;
        height: 32px;
    }
}
