@use "./../core.scss" as *;

body {
    display: grid;

    grid-template-rows: repeat(24, calc(calc(100vh - calc(5px * 24)) / 24));
    grid-template-columns: repeat(30, calc(calc(100vw - calc(5px * 30)) / 30));

    box-sizing: border-box;

    column-gap: 5px;
    row-gap: 5px;

    height: 100vh;
    overflow: hidden;

    div.radar-container {
        grid-column: 26 / span 5;
        grid-row: 1 / span 20 ;
    }

    div.temp-container {
        grid-column: 1 / span 5;
        grid-row: 16 / span 9;
    }

    div.warning-container {
        grid-column: 6 / span 4;
        grid-row: 16 / span 9;
    }
}
